.pane {
  height: 100%;
  width: 100%;
}
.pane-menu {
  height: 50px;
  overflow-y: scroll;
  background-color: #e0e0e0;
}
.pane-content {
  height: calc(100% - 50px);
  overflow-y: scroll;
}
.landscape {
  .pane-menu {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 200px;
    overflow-y: hidden;
  }
  .pane-content {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: calc(100% - 200px);
    overflow-y: scroll;
  }
}