@import "./_mixin";

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

body, button, input, select, textarea, a {
  color: $defaultColor;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $defaultColor;
  opacity: .3;
}
